body {
   background: #cccccc
}

#banner {
   width: 100%;
}

.principal{

}
   h1 {
    style="text-align: center"
}

.titulo localizado{
     padding-left:20px;
}
 
    text-align: center;
}

p {
 #missão{
   font=size: 20px
}

em strong  {
    color: #FF0000;
|
 
   .itens {
        font-style: italic
   }
   
   .beneficios {
        background: #FFFFFF;
   }
   
   
h2{
    text-align;center;
   }
